.landing-home{
	margin: 16vh 0;
}

.Home .btnIscrizione {
	box-shadow: 0 0 10px var(--green-color);
}

.Home .btnIscrizione:hover {
	background-color: var(--green-color) !important;
	color: var(--white-color);
}

.Home .btnContatti:hover {
	background-color: var(--white-color) !important;
	color: var(--green-color);
}

.Home .LogoTitle {
	max-width: min(90vw, 100%);
}

@media screen and (max-width: 768px) {
	.Home{
		text-align: center;
	}

	.landing-home{
		margin: 0;
	}

	.Home .row .row{
		justify-content: center;
	}

	.Home > section > div {
		width: 100% !important;
	}
}
