.Home .btnIscrizione {
	border: 1px solid var(--green-color);
}

.Home .btnIscrizione:hover {
	background-color: var(--green-color) !important;
	color: var(--white-color);
}

.Home .btnContatti:hover {
	background-color: var(--white-color) !important;
	color: var(--green-color);
}

.Home .LogoTitle {
	max-width: min(90vw, 100%);
}

@media screen and (max-width: 768px) {
	.Home > section > div {
		width: 100% !important;
	}
}
