.EducatorCard{
    margin-top: max(5vw, 3rem);
    margin-bottom: max(5vw, 3rem);
    min-height: 55vh;
    background-color: var(--red-color) !important;
}

.ed-card{
    background-color: var(--white-color);
    box-shadow: 0 0 10px var(--red-color);
    border-radius: 40% 40% 45% 45% / 35% 35% 65% 65% ;
    overflow: visible;
}

.ed-img-container{
    position: absolute;
    top: min(-5vw, -3rem);
    left: 50%;
    transform: translate(-50%);
    width: max(8vw, 5rem);
    height: max(8vw, 5rem);
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--green-color);
    z-index: 10;
    background-color: var(--white-color);
}

.ed-img{
    width: max(8vw, 5rem);
    height: max(8vw, 5rem);
}

.ed-card-header{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: max(3vw, 2rem);
}

.ed-card-subtitle{
    font-size: large;
    font-weight: bold;
}

.ed-card-text{
    font-style: italic;
}