.Login input {
	height: 4rem;
	max-width: 40rem;
	margin: 0 auto;
	font-size: 1.5rem;
}

.Login .SignIn {
	position: relative;
	margin: 1rem;
	padding: 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: var(--red-color);
	border: none;
	border-radius: 0.5rem;
	background-color: transparent;
	box-shadow: 0 0 10px var(--red-color);
	transition: all 0.5s;
}

.SignIn::before {
	content: "ACCEDI";
	position: absolute;
	inset: 0;
	background-color: var(--red-color);
	border-radius: 0.5rem;
	max-width: 0;
	transition: all 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 2rem;
}

.SignIn:hover {
	color: var(--white-color);
}

.SignIn:hover::before {
	max-width: 100%;
}
