.user-card{
    box-shadow: 0 0 10px var(--light-dark-color);
    border-radius: 1rem;
}

.BTN_Delete_User{
    position: absolute;
    right: 2vh;
    cursor: pointer;
}

.user-img-container{
    width: max(8vw, 5rem);
    height: max(8vw, 5rem);
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--green-color);
    z-index: 10;
    background-color: var(--white-color);
}

.user-img{
    width: max(8vw, 5rem);
    height: max(8vw, 5rem);
}